body {
    background-color: tan;
}
h1 {
    color: white;
    font-style: Verdana;
    text-decoration: dashed overline underline;
}
h2 {
    font-style: Times;
    color: darkgreen;
    text-decoration: underline;
}
h4{
    font-style: Arial;
    color: purple;
    text-decoration: underline wavy;
    
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li {
    margin: 20px;
}
a {
    margin: 20px;
    font-style: italic; 
    color: darkgreen;
    background-color: aqua;
    cursor: pointer;
}
p {
    line-height: 1.5;
    font-stretch: condensed;
    font-weight: bold;
}
figcaption {
    color: white;
    background-color: black;
}
.famaghana-title-container {
    background-color: purple;
    display: flex;
    justify-content: center;
}
.famaghana-title {
    width: 100%;
    text-align: center;
}
.famaghana-search-button {
    height: 80px;
    width: 50px;
}
.navbar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-radius: 4px;
    background-color: aqua;
}
.famaghana-blog-title {
    text-align: center;
}
.famaghana-content-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas: 
    "a a b b b b"
    "d d c c c f"
    "d d e e e f"
    "d d e e e g";
}
.famaghana-blog-image1 {
    background-image: url(../Assets/SundiataBlogLion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a;
}
.famaghana-content-info1 {
    background-color: white;
    grid-area: b;
    border-bottom: 1px black solid;
    font-style: Verdana;
    color: black;
}
.famaghana-blog-image2 {
    background-image: url(../Assets/SUndiataBlogSilkCottonTree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: d;
}
.famaghana-content-info2 {
    background-color: white;
    grid-area: c;
    border: 1px black solid;
}
.famaghana-content-info3 {
    background-color: white;
    grid-area: e;
}
.famaghana-blog-posts {
    grid-area: f;
    border: 1px black solid;
}
.famaghana-social-sharing {
    grid-area: g;
}
.famaghana-footer {
    display: flex;
    justify-content: center;
}
.famaghana-footer-button {
    border: 2px black dotted;
    margin: 5px;
    background-color: aqua;
    cursor: pointer;
}
.author-info {
    text-align: center;
}
.author-info-image {
    width: 200px;
    height: 200px;
}